

.create-form {
    display: flex;
    padding: 15px 0 0 0;
    max-width: 1275px;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.create-form h1 {
    width: 100%;
    font-size: 36px;
}

.create-form hr {
    // height: 1px;
    border-top: 1px solid #cccccc;
    margin: 16px 0 16px 0;
    width: 100%;
}

.create-form label {
    font-size: 18px;
    margin-bottom: 4px;
}

.create-form form {
    width: 100%
}

.create-form textarea{
    width: 100%;
    margin: 4px 0 28px 0;
    line-height: 1.25;
    font-size: 18px;
    padding: 8px, 12px;
    color: #55595c;
    border: 1px solid #acacac;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
}

.create-form-input {
    width: 100%;
    margin: 4px 0 16px 0;
    line-height: 1.25;
    font-size: 18px;
    padding: 8px, 12px;
    color: #55595c;
    border: 1px solid #acacac;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
}

#grades {
    line-height: 1.25;
    font-size: 18px;
    color: #55595c;
    border: 1px solid #acacac;
    border-radius: 0;
}

.create-form input[type=submit] {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #2f699b;
    border-color: #2f699b;
    box-sizing: border-box;
    font-size: 18px;
    width: 140px;
    height: 40px;
    border-style: solid;
}

.create-form div {
    display: flex;
    align-items: baseline;
}