

// HEADER PORTION
.header-main {
    max-width: 1275px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    height: 70px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#main-logo {
    height: 50px
}

#header-border {
    margin: 0 0 16px 0;
}

.header-main button {
    box-sizing: border-box;
    width: 60px;
    height: 32px;
    font-size: 12px;
    margin: 5px;
    border-style: solid;
}

// ERROR MESSAGE
.error-container {
    display: flex;
    width: auto;
    background-color: #cc0000;
    height: 45px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    list-style-type: circle;
}

.error-message {
    width: auto;
    text-align: center;
    color: white;
    padding: 0 5px 0 5px;
    list-style: none;
}