

.showpage-main {
    padding: 15px 0 0 0;
    max-width: 1275px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.showpage-main h1, .showpage-main h2 {
    font-family: Roboto Condensed,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
}

.showpage-body{
    width: 100%;
}

.sub-header {
    margin: 0 0 7px 0;
    width: 50%;
}

.description-details {
    width: 100%;
}

.description-details a {
    color: #039;
    text-decoration: none;
}

.description-details a:hover {
    color: #001a4d;
    text-decoration: underline;
}

.description-details {
    margin: 15px 0 15px 0;
}

.showpage-main h1 {
    font-size: 36px;
}

.showpage-main h2 {
    font-size: 22px;
}

.description-body h2 {
    margin: 21px 0 7px 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    height: auto;
    background-color: #f2f2f2;
    padding: 10.5px;
    margin: 0 21px 0 0;
}

.sidebar a {
    color: #039;
    text-decoration: none;
    padding: 3px 0 0 0;
}

.sidebar a:hover {
    color: #001a4d;
    text-decoration: underline;
}

.sidebar h3 {
    // margin: 0 0 4px 0;
    font-size: 16px;
}

.showpage-body {
    max-width: 975px;
    padding: 0 0 15px 0;
    display: flex;
    flex-direction: row;
    width: 700px;
    flex-wrap: wrap;
}

.slideshow-show {
    width: 50%;
    height: 300px;
    background-color: #f2f2f2;
    float: right;
    
}

.description-details-left {
    width: 90px;
}

.show-pathway {
    color: #4e4d49;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
    margin-bottom: 7px;
}

.dropdown {
    float: right;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    border: 1px solid rgba(0,0,0,.15);
    // min-height: px;
    z-index: 1;
    top: 100%;
    right: 0%;
    padding: 10px 0 10px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    display: flex;
    width: auto;
    // padding: 6px;
}

.dropdown-content a {
    box-sizing: border-box;
    display: inline-block;
    padding: 7px 0 7px 15px;
    color: #039;
    font-size: 16px;
    text-decoration: none;
    width: 140px;
    height: 30px;
}

.dropdown-content a:hover{
    background-color: #f2f2f2;
}
