

.showpage-main {
    padding: 15px 0 0 0;
    max-width: 1275px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.showpage-main h1, .showpage-main h2 {
    font-family: Roboto Condensed,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
}

.showpage-body .sub-header {
    width: 100%;
}

.sub-header {
    margin: 0 0 7px 0;
}

.showpage-body .description-details {
    width: 600px;
    float: left;
}

.description-details {
    float: left;
    margin: 15px 0 15px 0;
}

.showpage-main h1 {
    font-size: 36px;
}

.showpage-main h2 {
    font-size: 22px;
}

.description-body h2 {
    margin: 21px 0 7px 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    height: auto;
    background-color: #f2f2f2;
    padding: 10.5px;
    margin: 0 21px 0 0;
}

.sidebar h3 {
    margin: 0 0 4px 0;
    font-size: 16px;
}

.showpage-body {
    max-width: 975px;
    padding: 0 0 15px 0;
}

.slideshow-show {
    width: 375px;
    height: 300px;
    background-color: #f2f2f2;
    float: right;
}

.description-details-left {
    width: 90px;
}

.show-pathway {
    color: #4e4d49;
    text-decoration: none;
    font-size: 12px;
}